<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clientes</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/css/estilo.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <h1>Listado de Clientes</h1>
        <div th:replace="nav :: navega"></div>
    </header>
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer: ${customers}">
                    <th th:text="${customer.getCustomer_id()}">Customer_id</th>
                    <td th:text="${customer.getFirst_name()}">First_name</td>
                    <td th:text="${customer.getLast_name()}">Last_name</td>
                    <td th:text="${customer.getEmail()}">Email</td>
                    <td th:text="${customer.isActive()}">Active</td>

                    <td><a th:href="@{/customer/{id}(id=${customer.getCustomer_id()})}">edit</a></td>
                </tr>
            </tbody>
        </table>
    </main>

</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>